html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  -webkit-text-size-adjust: 100%;
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.428571429;
  color: #333;  
  background-color: #fff;  
  margin: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
}


/* Custom page header */
.header h1 {
    display: inline-table;
    padding-left: 10px;
  /*border-bottom: 1px solid #e5e5e5;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}


.logo
{
    width: 100px;
    vertical-align: middle;
}

.banner img {
  width: 100%;

}

.container {
  max-width: 730px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;    
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px)
{
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer
    {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header
    {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron
    {
        border-bottom: 0;
    }
}

.pull-right {
  float: right !important;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}
table {
  max-width: 100%;
  background-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


